@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;


  
  margin: 0;
  height: auto;
}

:root {


  
  --text-color: #0f0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #000;
  color: #ccc;
  font-size: 18px;
  line-height: 1.6;
}

h1 {
  color: var(--text-color);
  font-size: 50px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}

h2 , span{
  color: var(--text-color);
}

h3 {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

a {
  color:  #0bc;
  text-decoration: none;
}

.resume {
  color:  #0f0;
  text-decoration: none;
}

li {
  font-size: 115%;
}

p {
  margin: 20px 0;
}

nav {
  width: 30%;
}
#social-media-table i {
  margin-right: 5px;
}
@keyframes moveLeftToRight {
  from {
    transform: translateX(-100%); /* Move the text off-screen to the left initially */
  }
  to {
    transform: translateX(10); /* Move the text to the right */
  }
}

/* Apply the animation to your h2 element */
h2.move-left-to-right {
  animation: moveLeftToRight  ease-in-out; /* Adjust the duration and easing as needed */
}


nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



nav ul li {
  color: var(--text-color);
  cursor: pointer;
}

.container {
  max-width: 1000px;
  margin: auto;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container2{
  max-width: 1000px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.wb-body {
  background: #111;
  padding: 20px;
}

.hidden {
  display: none;
}

.cursor {
  font-weight: 700;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }

  50% {
    color: var(--text-color);
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terminal {
 

  left: 50%;
  top: 50%;

  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.4);
 
  height: 70px;
  
  font-size:16px;
  border: none;
  outline: none;
  color: inherit;
}

.dollar:before {
  content: '$';
  color: #52a563;
}
/* Add this to your existing CSS */
#social-media-table {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Ensure that it wraps to the next line if the space is not enough */
}

#social-media-table td {
  margin-right: 20px;
}

/* Add this to your existing CSS */
#social-media-table {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

#social-media-table td {
  margin-right: 20px;
}

#social-media-table a {
  color: #007bff;
  text-decoration: none;
  display: flex;
  align-items: center;
}

